[Unit]
After=network.target
Description=rus_uzb_bot

[Service]
Type=simple
WorkingDirectory=/root/TGBOTS/RusUzbTranslate
ExecStart=/root/TGBOTS/RusUzbTranslate/venv/bin/python3.10 app.py
Restart=always

[Install]
WantedBy=multi-user.target